@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

/* HEADER */
header{
    flex: 0;
    min-height: 72px;
    background-color: #1F2937;
    padding: 20px 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    flex: 1;
    display: flex;
    max-width: 1200px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin-right: auto;
}

header ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

header ul li{
    color: #E5E7EB;
    font-size: 18px;
}

/* SECTIONS */
section {
    flex: 1;
    padding: 20px 110px;
}

.hero {
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    display: flex;
    justify-content: center;
    
}

.hero .container {
    display: flex;
    align-items: center;
    gap: 100px;
    max-width: 1200px;
}

.hero h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero .left-side {
    flex: 1;
}

.hero button {
    margin-top: 12px;
    background-color: #3882F6;
    border: none;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    border-radius: 8px;
}

.hero .right-side {
    flex: 0;
    min-width: 500px;
    height: 225px;
    background-color: #888;
    text-align: center;
    align-content: center;
}

/* RANDOM INFORMATION */
.random-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.random-information h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.random-information .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.random-information .card {
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
    color: #1F2937;
    font-weight: 300;
}

.random-information .card .box {
    border: 4px #3882F6 solid;
    border-radius: 12px;
    height: 150px;
}

/* TESTIMONIALS */
.testimonials {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.testimonials .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 800px;
}

.testimonials .container .quote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.testimonials .container .attribution {
    align-self: flex-end;
    font-weight: bold;
    font-size: 24px;
}

/* CALL TO ACTION */
.cta {
    display: flex;
    justify-content: center;
}

.cta .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 25px 100px;
    color: #F9FAF8;
    font-size: 18px;
}

.cta h3 {
    font-size: 24px;
}

.cta button {
    flex: 0;
    min-width: 130px;
    background-color: #3882F6;
    border: 2px white solid;
    border-radius: 8px;
    color: white;
    padding: 8px;
    font-size: 18px;
    font-weight: bold;
}

/* FOOTER */
footer {
    flex: 0;
    min-height: 72px;
    padding: 20px;
    background-color: #1F2937;
    color: #E5E7EB;
    display: flex;
    justify-content: center;
}
